.banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 150px;
    margin: 30px;
    padding : 20px 1em;
}

.banner h2{
    text-shadow: 0 2px 4px black;
    font-size: 25px;
}

.banner a {
    display : inline;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #17CCE4;
    padding: 5px 20px;
    border-radius: 5px;
}

.banner a:hover {
    box-shadow: 0 1px 5px #79cdd8da;
}

@media (max-width: 800px ) {
    .banner {
        margin : 0;
        margin-top : 50px
    }
}