.menu-section {
    background-image: url('../assets/img/parrillada.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto auto;
    min-height: 100vh;
    overflow: hidden;
    padding: 3em 5vw;
    margin-top: 30px;
}

.menu-section div {
    grid-column-start: 3;
    grid-column-end: 7;
    width: 100%;
}

.menu-section div img {
    margin: 10px auto;
    width: 150px;
}

.wave-right {
    position: absolute;
    right: -140px;
    width: 400px;
}

.wave-left {
    position: absolute;
    left: -250px;
    width: 400px;
}

.special {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    margin: 30px;
    width: 100%;

}

.special img {
    margin: 40px -45px;
    width: 370px;
}

.special div {
    border-radius: 15px;
    margin-top: -230px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 1em;
    padding-top: 150px;
    text-shadow: 5px 5px 20px black;
    width: 100%;
}

.menu-section aside {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;

    overflow: visible;
}

.menu-accordion {
    box-shadow: -5px 10px 25px #000;
    cursor: pointer;
    margin: 30px;
}

.menu-accordion div {
    align-items: center;
    background-color: #202020;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 1em;
    width: 100%
}

.toggle-btn {
    transition: transform 200ms ease-in;
    width: 25px
}

.menu-accordion span svg {
    fill: white;
    filter: drop-shadow(0px 0px 15px #000);
}

.menu-accordion div h2, .menu-accordion div span {
    color: white;
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
    text-shadow: 0px 1px 20px black;
    letter-spacing: 2px;
}

.menu-accordion div h2:hover {
    color: #17CCE4
}

.menu-accordion ul {
    background-color: #202020;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -15px;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 200ms ease-in;
    list-style: none;
}

.menu-accordion ul li {
    padding: 1em 0;
    border-bottom: 3px dotted #17CCE4;
}

.menu-accordion li:last-child {
    border-bottom: 0px solid transparent
}

.menu-accordion ul li h3 {
    color: #17CCE4;
    text-align: start;
    width: 60%;
}

.menu-accordion ul li h4 {
    text-align: end;
}

.menu-accordion ul li img {
    width: 30px;
    margin-left: 10px;
}

.menu-accordion ul li div {
    margin-top: 10px;
    height: auto;
    padding: 0;
}

.price-desc p {
    text-align: left;
    width: 80%;
}

@media (max-width: 800px) {

    .wave-right {
        right: -275px;
    }

    .wave-left {
       display: none;
    }

    .menu-section {
        grid-template-rows: 150px auto auto;
    }

    .menu-section div {
        grid-column-start: 2;
        grid-column-end: 12
    }

    .special {
        grid-column-start: 1;
        grid-column-end: 13;

        margin: 0;
    }

    .special div {
        margin-top: -150px;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
    }

    .menu-section div img {
        width: 100px;
    }

    .menu-section aside {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
    }

    .menu-accordion {
        margin: 30px 0
    }

    .menu-accordion ul li img {
        margin-left: 2px;
        width: 25px;
    }

    .menu-accordion p {
        width: 100%;
    }
    
}