.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 5vw;
    text-align: end;
    width: 100%;
}

.nav img {
    margin-top: 20px;
    width: 280px;
}

.social-icons {
    align-content: end;
    margin-top: 40px;
}

.social-icons a {
    margin-left: 25px;
}

.social-icons svg {
    fill: white;
    filter: drop-shadow(-2px 2px 2px #000);
    width: 25px
}

.nav-links a {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-shadow: -7px 7px 13px #000;
    text-transform: uppercase;
    margin-left: 30px;
}

@media (max-width: 600px) {

    .nav {
        padding: 5px 7vw;
    }

    .nav img {
        width: 135px;
    }

    .social-icons {
        margin-top: 15px;
    }

    .nav-links a {
        display: none;
        margin-top: -10px;
    }

    .nav-links a:last-child {
        display: inline;
        align-items: center;
    }
    
}